:root {
    --color-primary: #FF7405;
    --color-secondary: #F8B913;
    --color-title: #090B0D;
    --color-text: #090B0D;
    --color-bg: #dedede;}
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--color-secondary);
}
nav img {
    margin: 25px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
nav ul li {
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    font-weight:700;
}
nav ul li a:hover {
    color: white;
}

footer{
    width: 100vw;
    height:150px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul{
    list-style-type: none;
}

