{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div style=" margin: 15px; padding: 20px   ">
        <h2>Nuestra historia</h2>

        <p >
            En la cuarentena de 2020 empezamos a estudiar la posibilidad de comenzar un negocio familiar,
            las condiciones de seguridad alimentaria, sanidad y comodidad, nos llevaron a querer invertir en
            un terreno rural, con el objetivo de tener un lugar donde:
                <ul>
                    <li> Aislarnos</li>
                    <li> Cultivar algunos alimentos</li>
                    <li> Tener un mejor ambiente</li>
                </ul>
            Finalizando el año 2020 comenzamos la busqueda de un terreno rural para invertir,
            nuestra busqueda concluyo en el mes de noviembre del 2021, cuando adquirimos un terreno de 2,6 hectareas,
            en el cual llevamos unos meses realizando labores agricolas con el objetivo de establecer los cultivos de
            nuestros productos.
            El nombre de la finca es EL PROGRESO, que a su vez da nombre a este proyecto de e-commerce.

        </p>
        <p>
            A través de este desarrollo web buscamos ampliar el mercado de nuestros productos
            frutales, tuberculos, de origen animal y forestales. Bienvenid@s a hacer parte de este maravilloso
            proyecto.
        </p>

        <h2>Misión</h2>
        <p>
            El PROGRESO es una finca cuyos principios de diseño están enfocados en generar productos agroforestales
            de menor impacto ambiental, confortables, saludables, económicos, seguros, resilientes y en general sostenibles.
            Damos especial énfasis al uso de fertilizantes organicos, diversidad de especies y procesos que mejoran
            el rendimiento de las plantaciones, dando cosechas de mejor calidad y a menor costo.
        </p>
        <h2>Visión</h2>
        <p>
            EL PROGRESO para 2032 es reconocida a nivel departamental por cumplir altos estándares de calidad  y
             sus productos son eje de desarrollo de una sociedad más justa, saludable, productiva y sostenible.
        </p>
        <h2>Valores</h2>
        <p>
            En EL PROGRESO contamos con excelentes personas cuyo accionar está inspirado en
            los siguientes valores y muchos otros:
            <ul>
                    <li> Liderazgo: esforzarse en dar forma a un futuro mejor;</li>
                    <li> Colaboración: potenciar el talento colectivo;</li>
                    <li> Integridad: ser transparentes y éticos;</li>
                    <li> Diversidad: contar con un amplio abanico de recursos;</li>
                    <li> Calidad: búsqueda de la excelencia.</li>
                    <li> Inclusión: todos los individuos tienen los mismos derechos y oportunidades.</li>
            </ul>
        </p>

    </div>


{% endblock %}